body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D0E1D4!important;
  margin-left: 75px!important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.content{
  color: #2F131E;
}

.card-img-top{
  width: 300px!important;
  height: 250px;
  margin: 15px;
  border: 2px solid #2F131E!important;
  box-shadow: 4px 3px;

}

.page-link{
  background-color: #b6c7ba!important ;
  color: #2F131E!important ;
}

.page-item.active .page-link{
  border-color: #2F131E!important;
  border: 1px solid #2F131E!important;
}

.page-link:hover{
  border-color: #2F131E!important;
  border: 1px solid #2F131E!important;
}